<suite name="SwagLabs Automation Suite">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Full Regression Test">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutValidationTest"/>
            <class name="tests.CheckoutDataDrivenTest"/>
            <class name="tests.InvalidCheckoutFormTest"/> <!-- ❗️Negatif test added -->
        </classes>
    </test>
</suite>
